@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

input{
  display: block;
  margin-top: 20px;
}

input[type="radio"] {
  display: inline;
  margin-top: 0px;
}
