.frame_3{
    margin-left: 15px;
    margin-top: 15px;
    width: 250px;
    height: 350px;
    background: #FFFFFF;
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 30px;
}
.logo_pro_3{
    width: 230px;
    margin-top: 20px;
    margin-left: 25px;

}
.pro_name_3 a{
    width: 245px;
    height: 117px;
    margin-top: 0px;
    margin-left: 0px;
    color:black;
font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
text-align: center;
}
.pro_name_3{
    text-align: center;
    margin-top: 10px;
    }