.PasswordEditingTitle{
    color: #000;
    font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 49px;
margin-left: 33%;
margin-top: 50px;
}
.errorOnUpdatePasword{
    color: red;
    padding-left: 1%;
    font-weight: 300;
    
}
.succesOnUpdatePasword{
    color:royalblue;
    padding-left: 1%;
    font-weight: 300;
    

}
.UserEditingPassword{
    background: #ECEEEE;
    border-radius: 30px;
    width: 400px;
    height: 300px;
    padding-left: 5%;
    padding-right: 5%;
    margin-left: 30%;
    padding-top: 100px;
    margin-bottom: 80px;
}
@media (min-width: 320px) {
    .UserEditingPassword{
        width: 65%; 
        height: 250px;   
        padding-left: 5%;
        padding-right: 0%;
        margin-left:20%;
    }
    .big_input_editing{
        width: 90%;
        margin-bottom: 4%;
        padding-left: 10px;
    
    }
    .small_input_editing{
        width: 40%;      
        margin-bottom: 4%;
        padding-left: 10px;
    }
    .editing_button{
        width: 40%;
        margin-left: 4%;
        margin-top: 10px;
    
    }
    .PasswordEditingTitle{
    font-size: 14px;
    line-height: 49px;
    margin-left: 25%;
    }
}

@media (min-width: 468px) {
    .UserEditingPassword{
        width: 55%;    
        height: 300px;
        padding-left: 5%;
        padding-right: 0%;
        margin-left:15%;
    }
    
    .big_input_editing{
        width: 90%;
        margin-bottom: 4%;
        padding-left: 10px;
    
    }
    .small_input_editing{
        width: 40%;      
        margin-bottom: 4%;
        padding-left: 10px;
    }
    
    .editing_button{
        width: 40%;
        margin-left: 4%;
        margin-top: 10px;
    
    }
    .PasswordEditingTitle{
    font-size: 20px;
    line-height: 49px;
    margin-left: 20%;
    }
}
@media (min-width: 768px) {
    .UserEditingPassword{
        width: 40%;    
        height: 300px;
        padding-left: 5%;
        padding-right: 0%;
        margin-left:20%;
    }
    
    .big_input_editing{
        width: 90%;
        margin-bottom: 4%;
        padding-left: 10px;
    
    }
    .small_input_editing{
        width: 40%;      
        margin-bottom: 4%;
        padding-left: 10px;
    }
    
    .editing_button{
        width: 40%;
        margin-left: 4%;
        margin-top: 10px;
    
    }
    .PasswordEditingTitle{
    font-size: 20px;
    line-height: 49px;
    margin-left: 23%;
    }
}
@media (min-width: 1024px) {
    .UserEditingPassword{
        width: 30%;    
        height: 300px;
        padding-left: 2%;
        padding-right: 0%;
        margin-left:30%;
    }
    
    .big_input_editing{
        width: 90%;
        margin-bottom: 4%;
        padding-left: 10px;
    
    }
    .small_input_editing{
        width: 40%;      
        margin-bottom: 4%;
        padding-left: 10px;
    }
    
    .editing_button{
        width: 40%;
        margin-left: 4%;
        margin-top: 10px;
    
    }
    .PasswordEditingTitle{
    font-size: 20px;
    line-height: 49px;
    margin-left: 33%;
    }
}