.frame_1{
    margin-left: 15px;
    margin-top: 15px;
    width: 250px;
    height: 350px;
    background: #FFFFFF;
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 30px;
}
.logo_pro_1{
    width: 230px;
    margin-top: 50px;
    margin-left: 8px;

}
.pro_name_1 a{
    width: 200px;
    height: 117px;
    margin-top: 5px;
    color:black;
font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
text-align: center;
}
.pro_name_1{
    text-align: center;
    margin-top: 30px;
    }