.Main{
    background: url('f.jpg');
}
.pole{
    background:white;
    width: 405px;
    height: 500px;
    border-radius: 15px;
    margin-left: 30%;
    padding-left: 6%;
    padding-right: 6%;
}

.login_title{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    padding-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}
.login_button{
    background: #022A6C;
    border-radius: 20px;
    width: 200px;
    height: 50px;
    color: white;
    border:none;
    margin-left: 25%;
    margin-top: 5%;
}
.login_button_reg{
    background: #022A6C;
    border-radius: 20px;
    width: 200px;
    height: 50px;
    color: white;
    border:none;
    margin-left: 25%;
    margin-top: 10px;
}
.loginInput{
    width: 390px;
    height: 40px;
    border-radius: 10px;
    border-width: 1px;
    margin-top: 7%;
    padding-left: 10px;
    outline:none;
}
.NavLinkLogin a{
    text-decoration: none;
    color: #022A6C;
}
.NavLinkLogin{
    margin-left: 26%;
    margin-top: 5%;
}
.auth_error{
    color: red;
    font-weight: 300;
    margin-left: 1%;
    
}
@media (min-width: 320px) {
    .Main{
        background: url('f.jpg');
        min-width: 100%;
        height: 80%;
        padding-top: 15%;
        padding-bottom: 15%;
    }
    .loginInput{
        width: 80%;
        height: 40px;
        border-radius: 10px;
        border-width: 1px;
        margin-top: 7%;
        padding-left: 10px;
        outline:none;
    }
    .pole{
        width: 80%;               
        margin-left: 6%;   
        padding-left: 6%;  
        padding-right: 0%;
        height: 450px;
    }

    .login_title{
        font-size: 100%;
        padding-top: 15%;
        margin-left: 20%;
        width: 50%;
        color: #000;
    
    }
    .login_button{
        background: #022A6C;
        border-radius: 20px;
        width: 60%;
        height: 35px;
        color: white;
        border:none;
        margin-left: 13%;
        margin-top: 8%;
    }
    .login_button_reg{
        background: #022A6C;
        border-radius: 20px;
        width: 60%;
        height: 35px;
        color: white;
        border:none;
        margin-left: 13%;
        margin-top: 10px;
      
    }
    .NavLinkLogin{
        margin-left: 18%;
        margin-top: 5%;
    }
}

@media (min-width: 468px) {
    .Main{
        background: url('f.jpg');
        min-width: 100%;
        height: 80%;
        padding-top: 10.5%;
        padding-bottom: 10.5%;
    }
    .pole{
        width: 60%;         
        height: 500px;      
        margin-left: 17%;   
        padding-left: 8%;  
        padding-right: 0%;
        height: 450px;
    }
    .loginInput{
        width: 80%;
        height: 40px;
        border-radius: 10px;
        border-width: 1px;
        margin-top: 7%;
        padding-left: 10px;
        outline:none;
    }
    .login_title{
        font-size: 20px;
        padding-top: 15%;
        margin-left: 18%;
        width: 50%;
    
    }
    .login_button{
        background: #022A6C;
        border-radius: 20px;
        width: 60%;
        height: 45px;
        color: white;
        border:none;
        margin-left: 13%;
        margin-top: 8%;
    }
    .login_button_req{
        background: #022A6C;
        border-radius: 20px;
        width: 60%;
        height: 45px;
        color: white;
        border:none;
        margin-left: 13%;
        margin-top: 10px;
    }
    .NavLinkLogin{
        margin-left: 20%;
        margin-top: 5%;
    }
}

@media (min-width: 768px) {
    .Main{
        background: url('f.jpg');
        min-width: 100%;
        height: 80%;
        padding-top: 7%;
        padding-bottom: 7%;
    }
    .pole{
        width: 40%;         
        height: 500px;      
        margin-left: 25%;   
        padding-left: 7%;  
        padding-right: 0%;
        height: 450px;
    }
    .loginInput{
        width: 80%;
        height: 40px;
        border-radius: 10px;
        border-width: 1px;
        margin-top: 7%;
        padding-left: 10px;
        outline:none;
    }
    .login_title{
        font-size: 20px;
        padding-top: 15%;
        margin-left: 18%;
        width: 50%;
    
    }
    .login_button{
        background: #022A6C;
        border-radius: 20px;
        width: 60%;
        height: 45px;
        color: white;
        border:none;
        margin-left: 13%;
        margin-top: 8%;
    }
    .login_button_reg{
        background: #022A6C;
        border-radius: 20px;
        width: 60%;
        height: 45px;
        color: white;
        border:none;
        margin-left: 13%;
        margin-top: 10px;
    }
}
@media (min-width: 1024px) {
    .Main{
        background: url('f.jpg');
        min-width: 100%;
        height: 80%;
        padding-top: 5%;
        padding-bottom: 5%;
    }
    .pole{
        width: 35%;         
        height: 500px;      
        margin-left: 25%;   
        padding-left: 7%;  
        padding-right: 1%;
        
    }
    .loginInput{
        width: 80%;
        height: 40px;
        border-radius: 10px;
        border-width: 1px;
        margin-top: 7%;
        padding-left: 10px;
        outline:none;
    }   
    .login_title{
        font-size: 20px;
        padding-top: 18%;
        margin-left: 18%;
        width: 50%;
    
    }
    .login_button{
        background: #022A6C;
        border-radius: 20px;
        width: 60%;
        height: 45px;
        color: white;
        border:none;
        margin-left: 13%;
        margin-top: 8%;
        
    }
    .login_button_req{
        background: #022A6C;
        border-radius: 20px;
        width: 60%;
        height: 45px;
        color: white;
        border:none;
        margin-left: 13%;
        margin-top: 10px;
    }
    .NavLinkLogin{
        margin-left: 26%;
        margin-top: 5%;
    }
}