.frame_10{
    margin-left: 15px;
    margin-top: 15px;
    width: 250px;
    height: 350px;
    background: #FFFFFF;
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 30px;
}
.logo_pro_10{
    width: 210px;
    margin-top: 35px;
    margin-left: 25px;

}
.pro_name_10 a{
    width: 205px;
    height: 117px;
    margin-top: 25px;
    /* margin-left: 20px; */
    color:black;
font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
text-align: center;
}
.pro_name_10{
    text-align: center;
    margin-top: 40px;
    }