.UserEditing{
    background: #ECEEEE;
    border-radius: 30px;
    width: 400px;
    height: 400px;
    padding-left: 5%;
    padding-right: 5%;
    margin-left: 30%;
    padding-top: 50px;
    margin-bottom: 80px;
}

.big_input_editing{
    width: 390px;
    height: 35px;
    border-radius: 10px;
    border-width: 1px;
    margin-bottom: 4%;
    padding-left: 10px;
    outline:none;

}
.small_input_editing{
    width: 185px;
    height: 35px;
    border-radius: 10px;
    border-width: 1px;
    margin-bottom: 4%;
    padding-left: 10px;
    outline:none; 
}

.editing_button{
    background: #00304B;
    border-radius: 20px;
    width: 150px;
    height: 50px;
    color: white;
    border:none;
    margin-left: 8%;
    margin-top: 10px;

}
.smallInputGroup{
    display: flex;
    justify-content: space-between;
    width: 400px;
}
.UserEditingTitle{
    font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 49px;
margin-left: 33%;
}
@media (min-width: 320px) {
    .UserEditing{
        width: 75%; 
        height: 350px;   
        padding-left: 5%;
        padding-right: 0%;
        margin-left:9%;
    }
    
    .big_input_editing{
        width: 90%;
        margin-bottom: 4%;
        padding-left: 10px;
    
    }
    .small_input_editing{
        width: 40%;      
        margin-bottom: 4%;
        padding-left: 10px;
    }
    
    .editing_button{
        width: 40%;
        margin-left: 4%;
        margin-top: 10px;
    
    }
    .smallInputGroup{
        width: 93%;
    }
    .UserEditingTitle{
    font-size: 14px;
    line-height: 49px;
    margin-left: 20%;
    }
}
@media (min-width: 468px) {
    .UserEditing{
        width: 75%;    
        height: 400px;
        padding-left: 5%;
        padding-right: 0%;
        margin-left:9%;
    }
    
    .big_input_editing{
        width: 90%;
        margin-bottom: 4%;
        padding-left: 10px;
    
    }
    .small_input_editing{
        width: 40%;      
        margin-bottom: 4%;
        padding-left: 10px;
    }
    
    .editing_button{
        width: 40%;
        margin-left: 4%;
        margin-top: 10px;
    
    }
    .smallInputGroup{
        width: 93%;
    }
    .UserEditingTitle{
    font-size: 20px;
    line-height: 49px;
    margin-left: 20%;
    }
}
@media (min-width: 768px) {
    .UserEditing{
        width: 50%;    
        height: 400px;
        padding-left: 5%;
        padding-right: 0%;
        margin-left:20%;
    }
    
    .big_input_editing{
        width: 90%;
        margin-bottom: 4%;
        padding-left: 10px;
    
    }
    .small_input_editing{
        width: 40%;      
        margin-bottom: 4%;
        padding-left: 10px;
    }
    
    .editing_button{
        width: 40%;
        margin-left: 4%;
        margin-top: 10px;
    
    }
    .smallInputGroup{
        width: 93%;
    }
    .UserEditingTitle{
    font-size: 20px;
    line-height: 49px;
    margin-left: 23%;
    }
}
@media (min-width: 1024px) {
    .UserEditing{
        width: 40%;    
        height: 400px;
        padding-left: 5%;
        padding-right: 0%;
        margin-left:25%;
    }
    
    .big_input_editing{
        width: 90%;
        margin-bottom: 4%;
        padding-left: 10px;
    
    }
    .small_input_editing{
        width: 40%;      
        margin-bottom: 4%;
        padding-left: 10px;
    }
    
    .editing_button{
        width: 40%;
        margin-left: 4%;
        margin-top: 10px;
    
    }
    .smallInputGroup{
        width: 93%;
    }
    .UserEditingTitle{
    font-size: 20px;
    line-height: 49px;
    margin-left: 30%;
    }
}